
:root {
  --color-bg: #f0f2f5;
  --color-bg-dark: #e6e8eb;
  --color-bg-header: #f0f2f5bb;

  --color-border: #dcdfe6;
  --color-border-dark: #cdd0d6;

  --color-tab-select: #1a1a1a;
  --color-tab-hover: #cdd0d6;

  --color-text: #303133;
  --color-secondary: #909399;
  --color-text-revers: #ffffff;

  --color-middle-gray: #88888888;
  --color-middle-light: #88888844;

  --size-main-width: 1200px;
}

html.dark {
  --color-bg: #1a1a1a;
  --color-bg-dark: #1f1a1c;
  --color-bg-header: #1a1a1abb;

  --color-border: #2a2a2a;
  --color-border-dark: #2f2f2f;

  --color-tab-select: #f0f2f5;
  --color-tab-hover: #2f2f2f;

  --color-text: #ffffff;
  --color-secondary: #909399;
  --color-text-revers: #303133;
}

*,
*::before,
*::after {
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

html.dark {
  color-scheme: dark;
}

body {
  font-family: Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
  transition: color 0.5s, background-color 0.5s, background 0.5s;
  color: var(--color-text);
  background: var(--color-bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
